@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;
    --cor-principal: #4c8479;
    --cor-secundaria: #2b5f56;
    --cor-titulo: #eb9f25;
    --cor-titulo-hover: #b9881f;
}

body {
    display: grid;
    place-items: center;
    gap: 30px;
    margin: 0;
    height: 20%;
    padding: 0 32px;
    background: #eff9ff;
    font-family: var(--font-family);
}

@media (width >=500px) {
    body {
        padding: 0;
    }

    .card {
        margin: 0;
        width: 360px;
    }
}

.background {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius:
        47% 53% 61% 39% / 45% 51% 49% 55%;
    background: var(--cor-secundaria);
}

.card {
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0.5% 30px;
    padding: 140px 65px 50px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
    color: var(--cor-principal);
}

.cardPedido {
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0.5% 30px;
    padding: 140px 65px 50px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
    color: var(--cor-principal);
}

.card::before {
    content: "";
    position: absolute;
    top: -900px;
    left: 50%;
    translate: -50% 20px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: var(--cor-principal);
}

.cardPedido::before {
    content: "";
    position: absolute;
    top: -900px;
    left: 50%;
    translate: -50% 20px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: var(--cor-principal);
}

.background::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: var(--cor-secundaria);
}

.card.logo {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    width: 64px;
    height: 64px;
}

.cardPedido.logo {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    width: 64px;
    height: 64px;
}

.logo {
    width: 40%;
    position: absolute;
    top: 15px;
    left: 50%;
    translate: -50% 0;

}

.imagem {
    width: 35%;
}


.titulo-2 {
    padding: 0;
}



.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
    align-items: center;
}

.check {
    height: 0px;

}




.card>h2 {
    font-size: 35px;
    font-weight: 800;
    margin: 20px 0 20px;
    color: var(--cor-titulo);
}

.cardPedido>h2 {
    font-size: 35px;
    font-weight: 800;
    margin: 20px 0 20px;
    color: var(--cor-titulo);
}

.form {
    border: 0;
    margin: 10px 0 0px;
    display: grid;
    gap: 15px;
    justify-content: center;
}

.conteiner-quadra-lote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.masculino_feminino {
    display: flex;
    align-items: center;

}

.titulo {
    text-align: left;
}

.form :is(input, button) {
    height: 56px;
    border-radius: 28px;
    font-size: 17px;
    font-family: var(--font-family);

}

.form>input {
    border: 0;
    padding: 0 -120px;
    color: var(--cor-principal);
    background: #ededed;
    border-radius: 8px;
    /* Adicionado para consistência visual */
    font-size: 17px;
}

label {
    font-weight: bold;
}

#hidden {
    display: none;
}

.form>input::placeholder {
    color: var(--cor-principal);
    opacity: 0.7;
    /* Melhor visibilidade do placeholder */
}

.form>h1 {
    margin: 0.6em 0 0;
    font-size: 24px;
    /* Ajuste de tamanho para maior destaque */
    color: var(--cor-titulo);
}

.form>p {
    display: flex;
    margin: 0;
    justify-content: center;
    font-size: 15px;
    color: var(--cor-principal);
}

.paragrafo {
    font-size: 15px;
    margin: 0;
    font-weight: 800;
}

.sorteio {
    width: 55%;
    margin: 0 25%;
    gap: 9px;
}

.confirmacao_numero {
    display: grid;
    margin: 20px;
    font-weight: 800;
}

#numeroSorteado {
    color: var(--cor-titulo);
}

.botao_Voltar {
    width: 50%;
    align-items: center;
    text-align: center;
}

.form>button {
    border: 0;
    color: #f9f9f9;
    background: var(--cor-principal);
    display: grid;
    place-items: center;
    font-weight: 500;
    cursor: pointer;
}

button {
    height: 56px;
    border-radius: 10px;
    font-size: 16px;
    font-family: inherit;
    color: #f9f9f9;
    background: var(--cor-principal);
    border: 0;
    margin:0;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.botao {
    margin: 15px 0;
}
.botao:hover {
    background-color: var(--cor-secundaria);
    /* Um tom ligeiramente mais escuro */
 }

.card>footer {
    color: #a1a1a1;
    padding: 10px;
}

a:link {
    color: var(--cor-principal);
    font-weight: 600;
}

a:visited {
    color: var(--cor-principal);
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.tamanho-tabela {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.titulo-tabela {
    text-align: center;
    font-size: 24px;
    color: var(--cor-titulo);
    margin: 0;
}

.table-container {
    overflow-x: auto;
    /* Adiciona barra de rolagem horizontal em telas pequenas */
}

table {
    width: 100%;
    /* Garante que a tabela ocupa 100% do container */
    border-collapse: collapse;
    margin: 10px 0;
    /* Adicionei um pouco de margem para espaçamento */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    /* Impede que o texto quebre a linha */
}

th {
    background-color: var(--cor-principal);
    color: var(--cor-titulo);
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.voltar-btn {
    display: inline-block;
    margin-top: 50px;
    bottom: 20px;
    left: 20px;
    background-color: var(--cor-titulo);
    color: var(--cor-titulo);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


/* Estilos para telas menores */
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        /* Esconde o cabeçalho */
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * Aria-label tem prioridade sobre o título.
        * Um elemento pode ter apenas um rótulo aria
        * (e rótulo aria sobrescreve título).
        */
        content: attr(data-label);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#entradaEstoqueBtn {
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: var(--cor-principal);
    /* Cor azul para destacar */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    /* Espaçamento entre os botões */
}

#entradaEstoqueBtn:hover {
    background-color: var(--cor-secundaria);
}



/* Estilos para o novo modal de entrada de estoque */
#entradaEstoqueModal {
    display: none;
    position: fixed;
    z-index: 4;
    /* Acima do modal de produto */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#entradaEstoqueModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

#addProdutoBtn{
     margin-bottom: 10px;
    padding: 10px 15px;
    background-color: var(--cor-principal);
    /* Cor azul para destacar */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    /* Espaçamento entre os botões */
}

#addProdutoBtn:hover{
    background-color: var(--cor-secundaria);
}

/*pedidos*/